2. [코딩문제] 다음은 Pandas의 피봇 테이블 pivot_table() 함수를 활용하여 주어진 데이터프
레임 “df” 을 집계하고 분석하는 코딩 문제이다.

In [4]:
#(2-1) 각 제품(Product)별로 판매된 총 수량(Quantity)을 계산하여 그 결과를 출력하시오.

import pandas as pd

# 데이터프레임 생성
data = {
    'CustomerID': ['C1', 'C2', 'C3', 'C4'],
    'Product': ['A', 'B', 'A', 'B'],
    'Quantity': [10, 15, 10, 20]
}
df = pd.DataFrame(data)

# (2-1) 각 제품(Product)별로 판매된 총 수량(Quantity)을 계산하여 그 결과를 출력
product_total_quantity = df.pivot_table(values='Quantity', index='Product', aggfunc='sum')
print("각 제품(Product)별로 판매된 총 수량(Quantity):")
print(product_total_quantity)

# (2-2) 각 고객(CustomerID)이 구매한 제품(Product)별 총 수량(Quantity)을 구하고, 그 결과를 출력
customer_product_quantity = df.pivot_table(values='Quantity', index='CustomerID', columns='Product', aggfunc='sum', fill_value=0)
print("\n각 고객(CustomerID)이 구매한 제품(Product)별 총 수량(Quantity):")
print(customer_product_quantity)

# (2-3) 각 제품(Product)별로 평균 구매 수량(Quantity)을 계산하여 그 결과를 출력
product_average_quantity = df.pivot_table(values='Quantity', index='Product', aggfunc='mean')
print("\n각 제품(Product)별로 평균 구매 수량(Quantity):")
print(product_average_quantity)

df

각 제품(Product)별로 판매된 총 수량(Quantity):
         Quantity
Product
A              20
B              35

각 고객(CustomerID)이 구매한 제품(Product)별 총 수량(Quantity):
Product      A   B
CustomerID
C1          10   0
C2           0  15
C3          10   0
C4           0  20

각 제품(Product)별로 평균 구매 수량(Quantity):
         Quantity
Product
A            10.0
B            17.5

  CustomerID Product  Quantity
0         C1       A        10
1         C2       B        15
2         C3       A        10
3         C4       B        20

In [14]:
# (2-1) 각 제품(Product)별로 판매된 총 수량(Quantity)을 계산하여 그 결과를 출력
import pandas as pd

# 데이터프레임 생성
data = {
    'CustomerID': ['C1', 'C2', 'C3', 'C4'],
    'Product': ['A', 'B', 'A', 'B'],
    'Quantity': [10, 15, 10, 20]
}
df = pd.DataFrame(data)

data = df.pivot_table(values='Quantity', index='Product', aggfunc='sum')
print(data)

         Quantity
Product
A              20
B              35

In [17]:
import pandas as pd

# 데이터프레임 생성
data = {
    'CustomerID': ['C1', 'C2', 'C3', 'C4'],
    'Product': ['A', 'B', 'A', 'B'],
    'Quantity': [10, 15, 10, 20]
}
df = pd.DataFrame(data)

# (2-2) 각 고객(CustomerID)이 구매한 제품(Product)별 총 수량(Quantity)을 구하고, 그 결과를 출력
data = df.pivot_table(values='Quantity', index='CustomerID', columns='Product', aggfunc='sum', fill_value=0)
print(data)

Product      A   B
CustomerID
C1          10   0
C2           0  15
C3          10   0
C4           0  20

In [19]:
import pandas as pd

# 데이터프레임 생성
data = {
    '도시': ['서울', '서울', '대구', '광주'],
    '날짜': ['2024-06-01', '2024-06-02', '2024-06-01', '2024-06-01'],
    '최고 온도': [28, 30, 32, 29],
    '최저 온도': [18, 20, 21, 19]
}
df = pd.DataFrame(data)

# 각 도시에서 최고 온도가 가장 높은 날짜 찾기
result = df.loc[df.groupby('도시')['최고 온도'].idxmax()]

print(result)

   도시          날짜  최고 온도  최저 온도
3  광주  2024-06-01     29     19
2  대구  2024-06-01     32     21
1  서울  2024-06-02     30     20

In [24]:
import pandas as pd

# 주어진 데이터프레임
data = {
    '날짜': ['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05'],
    '종가': [100, 102, 101, 105, 107]
}
df = pd.DataFrame(data)

# '날짜' 열의 데이터를 datetime 형식으로 변환
df['날짜'] = pd.to_datetime(df['날짜'])  # (①)

# '날짜' 열을 데이터프레임 df의 인덱스로 설정
df.set_index('날짜', inplace=True)  # (②)

# 2일 이동 합계 계산하여 새로운 열 '2일 이동 합계'로 데이터프레임 df에 추가
df['2일 이동 합계'] = df['종가'].rolling(window=2).sum()  # (③)

# 최종 데이터프레임 출력
print(df) # (④)

           날짜   종가
0  2024-06-01  100
1  2024-06-02  102
2  2024-06-03  101
3  2024-06-04  105
4  2024-06-05  107
             종가  2일 이동 합계
날짜
2024-06-01  100       NaN
2024-06-02  102     202.0
2024-06-03  101     203.0
2024-06-04  105     206.0
2024-06-05  107     212.0

In [26]:
import pandas as pd
cities = ['서울', '대구', '인천', '서울', '대구', '서울']
df = pd.DataFrame(cities, columns=['City'])
encoded = pd.get_dummies(df['City'])
df_encoded = pd.concat([df, encoded], axis=1)
print(df_encoded)

  City     대구     서울     인천
0   서울  False   True  False
1   대구   True  False  False
2   인천  False  False   True
3   서울  False   True  False
4   대구   True  False  False
5   서울  False   True  False

In [35]:
import pandas as pd

# 주어진 데이터프레임 생성
data = {
    'OrderID': [1, 2, 3, 4],
    'CustomerID': ['C1', 'C2', 'C3', 'C4'],
    'Product': ['A', 'B', 'A', 'B'],
    'Quantity': [10, 15, 10, 20]
}
df = pd.DataFrame(data)

# pivot_table을 사용하여 CustomerID와 Product별 총 구매 수량 계산
pivot_df = df.pivot_table(index=['CustomerID', 'Product'], values='Quantity', aggfunc='sum')
print(pivot_df)
# stack을 사용하여 MultiIndex Series로 변환
stacked_series = pivot_df.stack()
print(stacked_series)
# MultiIndex Series를 데이터프레임으로 변환
result_df = stacked_series.reset_index(name='Quantity')
print(result_df)
# CustomerID와 Product를 MultiIndex로 설정
result_df.set_index(['CustomerID', 'Product'], inplace=True)

result_df

                    Quantity
CustomerID Product
C1         A              10
C2         B              15
C3         A              10
C4         B              20
CustomerID  Product
C1          A        Quantity    10
C2          B        Quantity    15
C3          A        Quantity    10
C4          B        Quantity    20
dtype: int64
  CustomerID Product   level_2  Quantity
0         C1       A  Quantity        10
1         C2       B  Quantity        15
2         C3       A  Quantity        10
3         C4       B  Quantity        20

                     level_2  Quantity
CustomerID Product
C1         A        Quantity        10
C2         B        Quantity        15
C3         A        Quantity        10
C4         B        Quantity        20