## 2.2 Series의 주요 속성 및 메서드 (p.199)

* index - Series의 인덱스(혹은 인덱스 라벨)

In [16]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"] 
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [17]:
obj4.index

Index(['California', 'Ohio', 'Oregon', 'Texas'], dtype='object')

* values - Series의 데이터

In [18]:
obj4.values

array([   nan, 35000., 16000., 71000.])

* size - Series의 크기(데이터의 길이)

In [19]:
obj4.size

4

* dtype - Series의 데이터(Series.values)의 데이터 타입
  * int64
  * float64
  * object - 문지열이거나 2개 이상의 데이터 타입으로 이루어진 경우

In [20]:
obj4.dtype

dtype('float64')

In [21]:
Series([2,3.5,'abc']).dtype

dtype('O')

* describe() - 통계 정보를 한 눈에 제공해주는 함수

In [22]:
obj4.describe()

count        3.000000
mean     40666.666667
std      27934.447074
min      16000.000000
25%      25500.000000
50%      35000.000000
75%      53000.000000
max      71000.000000
dtype: float64

* 통계함수 - max(), min(), mean()..

In [23]:
obj4.max()

71000.0

In [24]:
obj4.mean()

40666.666666666664

In [25]:
obj4.min()

16000.0

* isna() - 누락된 데이터를 찾을 때 불리언 배열을 반환
* notna() -누락되지 않은 데이터을 찾을 때 불리언 배열로 반환

In [26]:
pd.isna(obj4)  # obj4.isna()
# pd.notna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

* value_counts() - Series에 있는 데이터 값들의 개수

In [27]:
obj4.value_counts()

35000.0    1
16000.0    1
71000.0    1
Name: count, dtype: int64

* add(값) - Series의 데이터 각각에 값을 더하기

In [28]:
print(obj3)
print(obj4)
obj3 + obj4

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [29]:
obj3.add(obj4)

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

### [Quiz] 시리즈 obj4의 데이터에 1000을 더하시오

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"] 
obj4 = pd.Series(sdata, index=states)

obj4.add(1000)

California        NaN
Ohio          36000.0
Oregon        17000.0
Texas         72000.0
dtype: float64

* series.isin(val_list) - Series에 있는 각각의 데이터를 vali_list 에 포함되어 있는지 여부를 확인하여 불리언 배열 반환

cf) val_list in series

In [31]:
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
sample.isin([89])

a     True
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j    False
dtype: bool

### [Quiz] sample 데이터 내에 90, 89가 있는지 확인하시오

In [2]:
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
sample.isin([89,90])

a     True
b     True
c    False
d    False
e     True
f    False
g    False
h    False
i    False
j     True
dtype: bool

### [Quiz] sample 데이터 내에 90이 있으면 True, 없으면 False을 출력

In [3]:
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
90 in sample.values ##한개만 있어도 True 출력
## sample.isin([90]) #전체중에 찾기

True

### [Quiz] sample 인덱스 내에 'b' 있는지 True, 없으면 False을 출력

In [34]:
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
'b' in sample.index
## sample.index.isin(['b']) 로 전체중에 찾기도 가

True

* apply(func) - Series의 데이터에 func 함수를 적용
* apply(lambda X: func)

In [35]:
# 60 이상이면 pass, 60 미만이면 fail로 변경하는 함수
def pass_fail(val):
    if val >= 60:
        return 'pass'
    else:
        return 'fail'

# 함수 적용
result = sample.apply(pass_fail)
type(result)

pandas.core.series.Series

In [36]:
# 익명함수로 코딩
sample.apply(lambda val: 'pass' if val >= 60 else 'fail')

a    pass
b    pass
c    pass
d    pass
e    pass
f    pass
g    pass
h    fail
i    fail
j    pass
dtype: object

## 2.3 Series 객체와 색인의 이름 지정하기
    * Series.name
    * Series.index.name

In [37]:
obj4.name = "population"
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

## 2.4 원하는 데이터만 선택하기 (p.205~208 색인하기, 선택하기, 거르기)
* 인덱스를 활용하여 특정 인덱스(들)에 해당하는 데이터 선택
* 인덱스 슬라이싱으로 주어진 범위에 해당하는 데이터를 선택
* 조건 색인(불리언 색인)을 활용하여 조건에 맞는 데이터 선택

    1) 특정 인덱스 선택하기 : 숫자 인덱스와 인덱스 라벨 모두 사용 가능

In [38]:
obj = pd.Series(np.arange(4.0), index=["a", "b", "c", "d"])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [39]:
obj["b"] # 인덱스 라벨로 선택

1.0

In [72]:
obj[1]

C:\Users\hyung\AppData\Local\Temp\ipykernel_22324\1219467131.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obj[1]

1.0

    2) 여러 인덱스를 동시에 선택하기 : 선택하고자 하는 인덱스 목록을 리스트로 전달

In [41]:
obj[[1,3]]  # 2, 4번쩨 데이터 선택

C:\Users\hyung\AppData\Local\Temp\ipykernel_22324\3784378537.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obj[[1,3]]  # 2, 4번쩨 데이터 선택

b    1.0
d    3.0
dtype: float64

In [42]:
obj[['b','d']]

b    1.0
d    3.0
dtype: float64

    3) 인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택

In [43]:
obj[1:3]

b    1.0
c    2.0
dtype: float64

In [44]:
obj[-3:-1]

b    1.0
c    2.0
dtype: float64

In [45]:
obj['b':'c'] # 레이블별 인덱스는 포함

b    1.0
c    2.0
dtype: float64

In [46]:
#창의 인덱스를 사용하여 행 데이터 조회; loc[], iloc[] 
obj.loc[['b','c']]

b    1.0
c    2.0
dtype: float64

In [47]:
obj.iloc[[1,2]]

b    1.0
c    2.0
dtype: float64

    4) **조건 색인(블리언 인덱싱)** : 조건 색인을 활용하여 원하는 데이터 선택

In [73]:
#mothod 1
obj
bool_index = obj < 2 # 조건 색인
bool_index
obj[bool_index]

a     True
b     True
c    False
d    False
dtype: bool

In [49]:
#mothod 2
obj[bool_index]

a    0.0
b    1.0
dtype: float64

### [problem] sample 데이터에서 80 이상 데이터을 선택하시오.
    sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

In [74]:
sample[sample >= 80]

a     89
b     90
e     90
f    100
j     90
dtype: int64

### [Quiz] sample 데이터의 평균보다 작은 데이터만 선택하시오.

In [75]:
sample [sample < sample.mean()]

d    65
h    55
i    40
dtype: int64

### [Quiz] sample 데이터가 60과 80 사이의 데이터만 선택

In [79]:
bool_id = (sample >= 60) & (sample <= 80)
sample[bool_id]

c    78
d    65
g    78
dtype: int64

# 3. DataFrame
* 이차원 형태의 데이터을 저장, 처리, 관리, 분석하기 위한 자료구조
* 이차원 데이터는 여러 개의 1차원 데이터들의 모임
* 여러 개의 Series의 묶음
* 표 같은 스프레드시트 형식의 자료구조
  * 여러 개의 열이 존재하고 서로 다른 종류의 값(숫자, 문지열, 시계열, 불리언 등) 을 담을 수 있다.
* 2차원 형태의 데이터(값, value)와 2개의 인덱스(index) 즉 행과 열로 구성
  * row index는 순서가 존재
    * 숫자 인덱스나 문자 인덱스로 색인 가능
    * axis = 0
  * column index는 순서가 존재하지 않음
    * axis = 1
  * 2차원 형태의 데이터 타입에는 제약이 없음
* 생성하는 방법
  * 동일한 길이의 리스트에 담긴 딕셔너리를 이용
  * 넘파이 배열을 이용

## 3.1 중첩리스트을 이용하여 DataFrame 생성

In [50]:
#1. Pandas 라이브러리 임포트
import pandas as pd
from pandas import Series, DataFrame
# 2. DataFrame 생성하고 데이터 할당하기 : 로우 인덱스와 컬럼 인덱스을  지정하지 않을 경우 기본값으로 할당
df = DataFrame(data = [[1,2,3],
                       ['kim','park','lee'],
                       [90, 80, 100]
                      ])
df

     0     1    2
0    1     2    3
1  kim  park  lee
2   90    80  100

In [51]:
#3. 로우 인덱스와 컬럼 인덱스 지정하기
df1 = DataFrame(data = [[1,2,3],
                       ['kim','park','lee'],
                       [90, 80, 100]], index = ['r1','r2','r3'], columns =['c1','c2','c3'])
df1

     c1    c2   c3
r1    1     2    3
r2  kim  park  lee
r3   90    80  100

## 3.2 딕셔너리을 이용하여 DataFrame 생성하기

In [52]:
#1. 딕셔너리 타입 데이터를 생성하기 - 키값이 컬럼에 대응
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [53]:
# 2. 인덱스 변경
frame.index = ['a','b','c','d','e','f']
frame

    state  year  pop
a    Ohio  2000  1.5
b    Ohio  2001  1.7
c    Ohio  2002  3.6
d  Nevada  2001  2.4
e  Nevada  2002  2.9
f  Nevada  2003  3.2

### [Quiz] 2021, 2022, 2023년 3년간 대전, 대구, 부산, 광주, 원주의 5개 도시의 인구 수을 저장하는 데이터프레임 생성하기

    data = {'서울': [950, 945, 938], 
        '대전': [800, 790, 780],
        '부산': [920, 910, 900],
        '광주': [700, 690, 680],
        '원주': [300, 290, 250]
       }

In [84]:
data = {"2021": ["950", "800", "920", "700", "300"],
        "2022": ["945","790","910","690", "290"],
        "2023": ["938","780","900","680","250"]}
frame = pd.DataFrame(data)
frame.index = ["서울","대전","부산","광주","원주"]
frame

   2021 2022 2023
서울  950  945  938
대전  800  790  780
부산  920  910  900
광주  700  690  680
원주  300  290  250