## 2.2 Series의 주요 속성 및 메서드 (p.199)

* index - Series의 인덱스(혹은 인덱스 라벨)

In [16]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"] 
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

### [Quiz] 시리즈 obj4의 데이터에 1000을 더하시오

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"] 
obj4 = pd.Series(sdata, index=states)

obj4.add(1000)

California        NaN
Ohio          36000.0
Oregon        17000.0
Texas         72000.0
dtype: float64

* series.isin(val_list) - Series에 있는 각각의 데이터를 vali_list 에 포함되어 있는지 여부를 확인하여 불리언 배열 반환

cf) val_list in series

In [31]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
sample.isin([89])

a     True
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j    False
dtype: bool

### [Quiz] sample 데이터 내에 90, 89가 있는지 확인하시오

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
sample.isin([89,90])

a     True
b     True
c    False
d    False
e     True
f    False
g    False
h    False
i    False
j     True
dtype: bool

### [Quiz] sample 데이터 내에 90이 있으면 True, 없으면 False을 출력

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
90 in sample.values ##한개만 있어도 True 출력
## sample.isin([90]) #전체중에 찾기

True

### [Quiz] sample 인덱스 내에 'b' 있는지 True, 없으면 False을 출력

In [34]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
'b' in sample.index
## sample.index.isin(['b']) 로 전체중에 찾기도 가

True

* apply(func) - Series의 데이터에 func 함수를 적용
* apply(lambda X: func)

In [35]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
# 60 이상이면 pass, 60 미만이면 fail로 변경하는 함수
def pass_fail(val):
    if val >= 60:
        return 'pass'
    else:
        return 'fail'

# 함수 적용
result = sample.apply(pass_fail)
type(result)

pandas.core.series.Series

In [36]:
# 익명함수로 코딩
sample.apply(lambda val: 'pass' if val >= 60 else 'fail')

a    pass
b    pass
c    pass
d    pass
e    pass
f    pass
g    pass
h    fail
i    fail
j    pass
dtype: object

## 2.3 Series 객체와 색인의 이름 지정하기
    * Series.name
    * Series.index.name

In [37]:
obj4.name = "population"
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

## 2.4 원하는 데이터만 선택하기 (p.205~208 색인하기, 선택하기, 거르기)
* 인덱스를 활용하여 특정 인덱스(들)에 해당하는 데이터 선택
* 인덱스 슬라이싱으로 주어진 범위에 해당하는 데이터를 선택
* 조건 색인(불리언 색인)을 활용하여 조건에 맞는 데이터 선택

    1) 특정 인덱스 선택하기 : 숫자 인덱스와 인덱스 라벨 모두 사용 가능

In [38]:
obj = pd.Series(np.arange(4.0), index=["a", "b", "c", "d"])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

### [problem] sample 데이터에서 80 이상 데이터을 선택하시오.
    sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

In [74]:
sample[sample >= 80]

a     89
b     90
e     90
f    100
j     90
dtype: int64

### [Quiz] sample 데이터의 평균보다 작은 데이터만 선택하시오.

In [75]:
sample [sample < sample.mean()]

d    65
h    55
i    40
dtype: int64

### [Quiz] sample 데이터가 60과 80 사이의 데이터만 선택

In [79]:
bool_id = (sample >= 60) & (sample <= 80)
sample[bool_id]

c    78
d    65
g    78
dtype: int64

# 3. DataFrame
* 이차원 형태의 데이터을 저장, 처리, 관리, 분석하기 위한 자료구조
* 이차원 데이터는 여러 개의 1차원 데이터들의 모임
* 여러 개의 Series의 묶음
* 표 같은 스프레드시트 형식의 자료구조
  * 여러 개의 열이 존재하고 서로 다른 종류의 값(숫자, 문지열, 시계열, 불리언 등) 을 담을 수 있다.
* 2차원 형태의 데이터(값, value)와 2개의 인덱스(index) 즉 행과 열로 구성
  * row index는 순서가 존재
    * 숫자 인덱스나 문자 인덱스로 색인 가능
    * axis = 0
  * column index는 순서가 존재하지 않음
    * axis = 1
  * 2차원 형태의 데이터 타입에는 제약이 없음
* 생성하는 방법
  * 동일한 길이의 리스트에 담긴 딕셔너리를 이용
  * 넘파이 배열을 이용

## 3.1 중첩리스트을 이용하여 DataFrame 생성

### [Quiz] 2021, 2022, 2023년 3년간 대전, 대구, 부산, 광주, 원주의 5개 도시의 인구 수을 저장하는 데이터프레임 생성하기

    data = {'서울': [950, 945, 938], 
        '대전': [800, 790, 780],
        '부산': [920, 910, 900],
        '광주': [700, 690, 680],
        '원주': [300, 290, 250]
       }

In [84]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

data = {"2021": ["950", "800", "920", "700", "300"],
        "2022": ["945","790","910","690", "290"],
        "2023": ["938","780","900","680","250"]}
frame = pd.DataFrame(data)
frame.index = ["서울","대전","부산","광주","원주"]
frame

   2021 2022 2023
서울  950  945  938
대전  800  790  780
부산  920  910  900
광주  700  690  680
원주  300  290  250