# 빅데이터 중간고사 예상 문제 정리

1. 다음 중 csv파일에 대해 올바르게 설명된 것은 무엇인가?
(1) csv 파일은 콤마로 구분된 텍스트 파일이다.
(2) csv 파일은 바이러니 파일이므로 텍스트 편집기로 열 수 없다.
(3) 파이썬 open() 함수로 csv 파일을 열려면 mode 변수를 ‘rb’로 지정해야 한다.
(4) csv 파일은 한 줄에 여러 레코드를 지정할 수 있다

2. 다음 중 표 형식 데이터가 아닌 것은 무엇인가?
(1) CSV (2) JSON (3) Excel (4) DataFrame

3. 판다스 read_csv() 함수의 인수 설명이 옳은 것은?
(1) header 인수의 기본 값은 1로 CSV 파일의 첫 번째 행을 열 이름으로 사용한다.
(2) names 인수에 행 이름을 리스트로 지정할 수 있다.
(3) encoding 인수에 CSV 파일의 유니코드 인코딩 방식을 지정할 수 있다.
(4) dtype 인수를 사용하려면 모든 열의 데이터타입을 지정해야 한다.

4. Open API를 사용하여 도서관 빅데이터 시스템에서 수집한 다양한 도서관 데이터를 가져
오는 일반적인 방법에 대한 설명으로 옳지 않은 것은?
(1) Open API의 인증키를 발급받는다. (2) Open API의 요청 URL을 생성한다.
(3) 요청 URL에 필요한 매개변수를 추가하고 요청 메시지를 보낸다. (4) 받은 응답 메시지를 해석하고 분석한다.

5. 다음 중 웹 기반 API에서 널리 사용하는 데이터 형식이 아닌 것은?
(1) CSV (2) JSON (3) XML (4) HTML

6. 다음 중 파이썬에서 웹 URL을 호출하는 모듈은 무엇인가?
(1) pandas (2) requests (3) json ( 4) xml

7. 판다스에서 JSON 문자열을 데이터프레임으로 변환하는 함수는 ?
(1) to_json() (2) json_loads() (3) read_json() (4) json()

8. 다음 중 HTTP GET 방식에 대해 잘못 설명한 것은?
(1) 웹브라우저만이 사용할 수 있는 방식이다.
(2) 웹서버에서 필요한 파라미터를 웹 URL 뒤에 연결하여 전달한다.
(3) 파라미터 사이는 &로 구분하고 파라미터와 값 사이는 = 로 구분한다.
(4) 파라미터와 기본 URL 사이는 ?로 구분한다.

9. [코딩 문제] 다음 딕셔너리 데이터를 사용하여 pandas의 데이터프레임을 만들고
#이 데이터프레임을 출력하는 프로그램을 작성하시오

In [3]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.DataFrame({ '이름' : ['철수','영희','민수', '지영'],
         '나이' : [25,30,22,28],
         '성별' : ['남자', '여자', '남자', '여자']})
print("실행결과 : \n")

df

실행결과 :

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

### 10. 주어진 데이터프레임 df에 다음 명령을 적용했을 때 실행 결과를 적으시오

In [36]:
import pandas as pd
from pandas import Series, DataFrame

data = { 'col1' : ['a', 'b', 'c'],
         'col2' : [1,2,3]}
df = pd.DataFrame(data)
df.loc[:2, 'col1':'col2']

  col1  col2
0    a     1
1    b     2
2    c     3

11. 다음 HTML 코드 <a href=“https://openai.com”> openAI</a>에서 <a> 요소 태그를 찾
을 수 있는 BeautifulSoup 객체인 soup 명령으로 올바르지 않은 것은?

(1) soup.find(‘a’) (2) soup.find(’a’, attrs={’href’: ’http://openai.com’})
(3) soup(‘a’) (4) soup.select(‘a’)

12. [코딩문제] pandas의 merge()를 이용하여 주어진 두 데이터프레임 df1, df2를 합쳐서 새로운 데이터프레임 df3을 생성하여 출력하는 프로그램을 작성하시오

In [52]:
import pandas as pd
from pandas import Series, DataFrame

data1 = { 'col1' : ['a','b','c'],
          'col2' : [1,2,3]}
data2 = { 'col3' : ['a','b','f'],
          'col4' : [10,20,30]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df3 = pd.merge(df1, df2, left_on='col1', right_on='col3', how='outer')
df3

  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

13. [코딩문제] 주어진 데이터프레임 df에는 학생들의 name과 score가 포함되어 있다. 데이터프레임의 조건부 색인을 이용하여 성적이 80점 이상인 학생들의 데이터프레임 df1을 반환하는 프로그램을 작성하시오

In [61]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.DataFrame({ 'name' : ['철수','영희','민수','지영'],
                    'score' : [75,88,92,68]})
df1 = df[df['score'] >= 80]
df1

  name  score
1   영희     88
2   민수     92

14. 주어진 프로그램의 실행 결과를 적으시오.

In [4]:
import pandas as pd
data = {'name': ['철수', '영희', None, '지영'], 'score': [75, 88, None, 68]}
df = pd.DataFrame(data)
result = df.isna()
print(result)

    name  score
0  False  False
1  False  False
2   True   True
3  False  False

15. 주어진 데이터프레임 df의 컬럼 “score”의 평균을 계산할 수 있는 메서드가 아닌 것은 
무엇인가요?
(1) df.describe() (2) df.info() (3) df['score'].mean() (4) df['score'].apply(mean)

정답: 2번

16. 주어진 데이터프레임 df에 다음 명령을 적용했을 때 실행 결과를 적으시오.
 df.apply(lambda row: row['col1'] + row['col2'], axis="columns")

In [4]:
import pandas as pd
df = pd.DataFrame({ 'col1' : [1,2,3],
                    'col2' : [4,5,6]})
df.apply(lambda row: row['col1'] + row['col2'], axis= "columns")

ValueError: Cannot merge a Series without a name

17.[코딩문제] pandas의 concat() 메서드을 이용하여 주어진 두 개의 데이터프레임 df1과 df2를 수직으로 연결하여 새로운 데이터프레임 df3을 생성하여 출력하는 프로그램을 작성하시오.

In [9]:
import pandas as pd
from pandas import Series, DataFrame

df1 = pd.DataFrame({'names' : ['철수','영희','민수'],
                    'score' : [75,88,92]})
df2 = pd.DataFrame({'names' : ['지영','다현'],
                    'score' : [68,95]})
display(df1)
display(df2)

df3 = pd.concat([df1,df2], axis= 0, ignore_index = True)
df3

  names  score
0    철수     75
1    영희     88
2    민수     92

  names  score
0    지영     68
1    다현     95

  names  score
0    철수     75
1    영희     88
2    민수     92
3    지영     68
4    다현     95

18. [코딩문제] pandas의 merge(0 메서드를 이용하여 주어진 두 개의 데이터프레임 df1과 
df2를 공통 열을 기준으로 병합하여 새로운 데이터프레임 df3을 생성하여 출력하는 프로그램
을 작성하시오

In [11]:
import pandas as pd
from pandas import Series, DataFrame

df1 = pd.DataFrame({ 'name' : ['철수','영희','민수'],
                     'score' : [75,88,92]})
df2 = pd.DataFrame({ 'name' : ['영희','철수','지영', '다현'],
                     'ateendence_rate' : [90,80,95,85]})
display(df1)
display(df2)

df3 = pd.merge(df1, df2, on='name', how='inner')
df3

  name  score
0   철수     75
1   영희     88
2   민수     92

  name  ateendence_rate
0   영희               90
1   철수               80
2   지영               95
3   다현               85

  name  score  ateendence_rate
0   철수     75               80
1   영희     88               90

19. 다음은 타겟 웹페이지의 화면과 개발자 도구를 사용한 화면이다.

In [ ]:
# (19-1) Requests와 BeautifulSoup을 이용하여 주어진 웹페이지의 URL에서 HTML을 가져와
# 서 특정 태그 ‘h1’의 내용(“Example Domain”)을 추출하는 코드이다. 그림 1과 그림 2의 구
# 조를 분석하고 빈칸의 코드를 완성하시오.

(① )
(② )
# 타겟 웹페이지의 URL
url = 'https://example.com'
# 해당 URL에서 HTML 가져오기
response = requests.get(url)
# BeautifulSoup을 사용하여 HTML 파싱
soup = BeautifulSoup(③ , 'html.parser')
# 'h1' 태그를 추출
target_tag = (④ )
# ‘h1’ 태그의 내용을 추출
target_content = target_tag.text if target_tag else '태그를 찾을 수 없음.'
# 결과 출력
(⑤ )

In [ ]:
# (19-2) 다음은 Selenium을 이용하여 동일한 URL에서 웹 페이지를 열고, 해당 페이지에서 
# CSS 선택자를 사용하여 모든 <a> 태그를 찾아서 개수를 세어서 출력하는 코드이다. 그림 1
# 과 그림 2의 구조를 분석하고 실행 결과를 적으시오.

20. 윈도우 git Bash 터미널에서 다음 작업을 수행하는데 올바른 명령어를 적으시오. (1) 현재 작업 디렉터리를 확인하기 pwd
(2) 현재 디렉터리의 모든 파일과 디렉터리를 표시하기  is-al
(3) 현재 작업 디렉터리가 “/C/Users/USER”일 때 “Desktop”으로 변경하시오 cd desktop
(4) BeautifulSoup 라이브러리를 설치하기 pip install beautifulsoup4
(5) "file.txt" 파일의 내용을 출력하기 cat file.txt
(6) 이름이 "myenv"인 가상환경을 생성하기 virtualenv myenv
(7) "myenv"인 가상환경을 활성화하기 source ./myenv/scripts/activate
(8) 가상환경을 비활성화하기 deactivate
(9) 변경 사항을 “initial Add”으로 깃 커밋하기 git commit -m "initial Add"

22.[코딩 문제] 주어진 딕셔너리 데이터를 pandas의 CSV 파일(data.csv)과 JSON 파일
(data.json)로 저장하는 프로그램을 작성하시오. (단, 저장 경로는 임의로 정한다.)

In [11]:
import pandas as pd
from pandas import Series, DataFrame

data1 = {
 '이름': ['철수', '영희', '민수', '지영'],
 '나이': [25, 30, 22, 28],
 '성별': ['남자', '여자', '남자', '여자']
}
data = pd.DataFrame(data1)

data.to_csv(data.csv)
data.to_json(data.json)

AttributeError: 'DataFrame' object has no attribute 'csv'

23. [코딩문제] 판다스의 concat() 메서드를 이용하여 다음 두 개의 데이터프레임 df1, df2를 
수직으로 결합한 후 다음과 같은 결과를 출력하도록 파이썬 코드를 빈칸에 작성하시오.

In [78]:
import pandas as pd
# 두 개의 데이터프레임 생성
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
 'B': ['B0', 'B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
 'B': ['B3', 'B4', 'B5']})
# 여기에 코드를 작성하세요
result = pd.concat([df1,df2], axis = 0, ignore_index = True)
# 결과 출력
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

#24. [코딩 문제] 판다스의 merge() 메서드을 이용하여 다음 두 개의 데이터프레임 left, 
right를 'key' 열을 기준으로 내부 조인(inner join)한 후 결과를 출력하도록 파이썬 코드를 
빈칸에 작성하시오

In [12]:
import pandas as pd
# 두 개의 데이터프레임 생성
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
 'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
 'B': ['B0', 'B1', 'B2']})
# 여기에 코드를 작성하세요
result = pd.merge(left,right)
# 결과 출력
print(result)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

#25. [코딩 문제] 다음은 학생들의 성적을 담은 데이터프레임 df와 추가적인 학생의 성적을 
담은 시리즈 new_student_scores가 있다.

In [40]:
# (25-1) concat() 함수를 사용하여 데이터프레임 df와 시리즈 new_student_scores를 수직으로 
#결합한 후 결과를 출력하는 프로그램을 작성하시오.

import pandas as pd
from pandas import DataFrame,Series

df = pd.DataFrame({ '학생' : ['철수', '영희', '민수'],
                    '성적' : [80,75,90]})
new_student_scores = pd.Series(['지영',85], index = ["학생","성적"])
df2 = pd.DataFrame(new_student_scores)
df2 = df2.T
df1 = pd.concat([df,df2], axis= 0, ignore_index = True)
df1

   학생  성적
0  철수  80
1  영희  75
2  민수  90
3  지영  85

In [6]:
# (25-2) merge() 함수를 사용하여 데이터프레임 df와 시리즈 new_student_scores를 병합한 후 
# 결과를 출력하는 프로그램을 작성하시오.
import pandas as pd
from pandas import DataFrame,Series

df = pd.DataFrame({ '학생' : ['철수', '영희', '민수'],
                    '성적' : [80,75,90]})
new_student_scores = pd.Series({ '학생' : '지영', '성적' : 85})

df1 = pd.DataFrame(new_student_scores)
df1 = df1.T
df2 = pd.merge(df,df1, how='outer')
df2

   학생  성적
0  민수  90
1  영희  75
2  지영  85
3  철수  80

#26. [코딩 문제] 다음은 두 개의 데이터프레임 df1, df2와 시리즈 s가 있다. 각 데이터프레임
과 시리즈는 동일한 색인 X, Y, Z을 가지고 있다.

In [1]:
# (1) concat() 함수를 사용하여 데이터프레임 df1과 df2를 수평으로 결합한 후, 시리즈 s를 수
# 평으로 결합한 결과를 출력하도록 프로그램을 작성하시오.

import pandas as pd
from pandas import DataFrame,Series

df1 = pd.DataFrame({ 'A' : [1,2,3],
                       'B' : [3,4,5]},
                       index = ['X','Y','Z'])
df2 = pd.DataFrame({'C': [7,8,9],
                    'D': [10,11,12]},
                   index=['X','Y','Z'])
s = pd.Series(data = [13,14,15], index=['X','Y','Z'], name='E')

df3 = pd.concat([df1, df2], axis=1)
s = pd.DataFrame(s)

df4 = pd.concat([df3,s], axis=1, )
df4

   A  B  C   D   E
X  1  3  7  10  13
Y  2  4  8  11  14
Z  3  5  9  12  15

In [53]:
# (2) merge() 함수를 사용하여 데이터프레임 df1과 df2를 병합하고, 시리즈 s를 추가한 결과를 
# 출력하도록 프로그램을 작성하시오.

import pandas as pd
from pandas import DataFrame,Series

df1 = pd.DataFrame({'A': [1,2,3],
                    'B': [4,5,6]},
                   index=['X','Y','Z'])
df2 = pd.DataFrame({'C': [7,8,9],
                    'D': [10,11,12]},
                   index=['X','Y','Z'])
s = pd.Series(data = [13,14,15], index=['X','Y','Z'], name='E')
print(s)
df3 = pd.merge(df1, df2, left_index = True, right_index= True , how='outer')
df4 = pd.merge(df3, s, left_index = True, right_index= True , how='outer')
df4

X    13
Y    14
Z    15
Name: E, dtype: int64

   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15

#27. [코딩 문제] 주어진 데이터프레임 df은 학생들의 성적을 담고 있다. 각 문제별 데이터프
레임에 apply() 함수 또는 lambda함수를 사용하여 프로그램을 작성하시오.
(1) 각 학생의 성적 총점을 계산하여 '총점' 열을 추가한 후, 결과를 출력하시오.
(2) 각 과목의 평균 점수를 계산하여 '평균' 행을 추가한 후, 결과를 출력하시오.

In [58]:
##(1) 각 학생의 성적 총점을 계산하여 '총점' 열을 추가한 후, 결과를 출력하시오.
import pandas as pd
from pandas import DataFrame,Series

data1 = {"이름":["철수","영희","민수"],
         "국어":[90,80,85],
         "영어":[85,95,70],
         "수학":[75,80,90]}

df1 = pd.DataFrame(data1)
print("총점 추가 결과:")
df1['총점'] = df1[['국어','영어','수학']].apply(sum, axis = 1)
df1

총점 추가 결과:

   이름  국어  영어  수학   총점
0  철수  90  85  75  250
1  영희  80  95  80  255
2  민수  85  70  90  245

In [73]:
# (2) 각 과목의 평균 점수를 계산하여 '평균' 행을 추가한 후, 결과를 출력하시오
import pandas as pd
from pandas import DataFrame,Series

df1 = pd.DataFrame({"이름":["철수","영희","민수"],
         "국어":[90,80,85],
         "영어":[85,95,70],
         "수학":[75,80,90]})

df2 = df1[['국어','영어','수학']].apply(lambda x:x.mean(),axis = 0)
df2 = pd.DataFrame(df2)
df2 = df2.T
df2.index = ['평균']

df3 = pd.concat([df1,df2], axis = 0)
df3

     이름    국어         영어         수학
0    철수  90.0  85.000000  75.000000
1    영희  80.0  95.000000  80.000000
2    민수  85.0  70.000000  90.000000
평균  NaN  85.0  83.333333  81.666667